@charset "utf-8";
.‘¾‚¢{font-weight:bold;}
.‘å‚«‚¢{font-size:150%;}
.¬‚³‚¢{font-size:75%;}
.‰ºü{text-decolation:underline solid;}
.“_ü{text-decolation:underline dotted red;}
.”gü{text-decolation:underline wavy red;}
.Ô{color:red;}
.Â{color:blue;}
.—Î{color:green;}
.‰©F{color:yellow;}
.ŠDF{color:gray;}
.’ƒF{color:brown;}
.ƒIƒŒƒ“ƒW{color:orange;}
.ƒsƒ“ƒN{color:pink;}
.‡{color:purple;}
.‹à{color:gold;}
.‹â{color:silver;}
.•{color:black;}
.”’{color:white;}
.”wŒiÔ{background-color:red;}
.”wŒiÂ{background-color:blue;}
.”wŒi—Î{background-color:green;}
.”wŒi‰©F{background-color:yellow;}
.”wŒiŠDF{background-color:gray;}
.”wŒi’ƒF{background-color:brown;}
.”wŒiƒIƒŒƒ“ƒW{background-color:orange;}
.”wŒiƒsƒ“ƒN{background-color:pink;}
.”wŒi‡{background-color:purple;}
.”wŒi‹à{background-color:gold;}
.”wŒi‹â{background-color:silver;}
.”wŒi•{background-color:black;}
.”wŒi”’{background-color:white;}
.ƒ}[ƒJ[{background:linear-gradient(transparent 60%, #ff6 60%);}
.ƒ}[ƒJ[‰©F{background:linear-gradient(transparent 60%, #ff6 60%);}
.ƒ}[ƒJ[Â{background:linear-gradient(transparent 60%, #6cf 60%);}
.ƒ}[ƒJ[—Î{background:linear-gradient(transparent 60%, #6f6 60%);}
.ƒ}[ƒJ[ƒsƒ“ƒN{background:linear-gradient(transparent 60%, #f6c 60%);}
